.billsHome  {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    background-color: var(--main-bgs);
}

.billsHomeHeader {
    display: flex;
    background-color: var(--secondary-colors);
    width: 100%;
    height: 7vh;
    margin-bottom: var(--spacing);
    color: var(--main-colors);
    align-items: center;
    border-bottom: 1px solid var(--border-colors);
    padding: var(--spacing);

}

.billsHomeHeader button {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 5rem;
    margin-right: var(--spacing);
    background-color: var(--buttons-bg);
    color: var(--main-colors);
    border: none;
    border-radius: var(--border-radius);
    padding: 0 var(--spacing);
    cursor: pointer;
    transition: background 0.2s;
}
.billsHomeHeader button:hover {
    background-color: var(--buttons-hover);
}



.billsHomeHeader h2 {
    margin-left: 40%;
}
.billsHomeBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--spacing);
    width: 99%;
    height: max-content;
    border-radius: var(--spacing);
    background-color: rgba(155, 155, 155, 0.527);
    overflow-y: scroll;
}

.billsHomeBody button {
    width: 11rem;
    height: 6rem;
    background-color: var(--main-bgs);
    color: var(--main-colors);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--spacing);
    margin: var(--spacing) 0.4rem var(--spacing) 0;
    cursor: pointer;
    transition: background 0.2s, border 0.2s;
}
.billsHomeBody button:hover {
    background-color: var(--buttons-hover);
    border-color: var(--main-color);
}

.singleBillContainer {
    font-weight: 600;
    background-color: white;
    color: var(--main-colors);
    border: 0.1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--spacing);
    margin: var(--spacing) 0.4rem var(--spacing) 0;
    width: 11rem;
    height: 6rem;
    text-decoration: none;
    transition: border 0.2s, box-shadow 0.2s;
}
.singleBillContainer:hover {
    background-color: var(--buttons-hover);
    box-shadow: 0 2px 8px rgba(238, 254, 255, 0.986);
}


/* Single Bill Page  ----------------------------------------------------------------------*/
.singleBill {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.singleBillHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 7%;
    width: 100%;
    background-color: var(--secondary-colors);
    color: var(--main-colors);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    justify-content: space-between;
    padding: 0 var(--spacing);
}

.printerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;

}

.billDataContainer {
    display: flex;
    flex-direction: row;
    color: var(--main-color);
}

.billFormContainer {
    display: flex;
    height: 100%;
    margin-top: 0;
    width: 100vw;
}