:root {
    --main-bgs: rgb(253, 253, 253);
    --accent-bgs: #ffffff;
    --main-colors: #302f2f;
    --secondary-colors: #dfe5e9;
    --border-color: #888;
    --buttons-hover: rgb(204, 204, 204);
    --border-radius: 0.5rem;
    --spacing: 0.5rem;
    --occupied-bg: #11cf11;
    --occupied-color: #fff;
    --available-bg: #fff;
    --available-color: #888;
    --has-orders-bg: skyblue;
    --buttons-bg: rgb(241, 241, 241);
}



.home {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bgs);
    height: 100vh;
    width: 100vw;
   
}

.header {
    height: 7.5vh;
    padding: 0.2rem;
    color: var(--main-colors);
    background-color: var(--secondary-colors);
}

.main {
    display: flex;
    flex-direction: row;
    background-color: var(--main-bgs);

}

.headerContents {
    display: flex;
    flex-direction: row;
    color: var(--main-colors);
    height: 100%;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius);
    padding: 0 var(--spacing);
}

.headerContents button {
    backdrop-filter: blur(8px);
    box-shadow: 0px 7px 32px rgba(0, 0, 0, 0.119) ;
    background-color: transparent;
    border: 5px solid rgba(225, 225, 225, 0.18);
    color: var(--main-colors);
    border-radius: 16px ;
    border: none;
    padding: 0.3rem 1rem;
    cursor: pointer;
    transition: background 0.2s;
}
.headerContents button:hover {
    background-color: var(--buttons-hover);
}

.headerRightButtons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing);
    width: 30%;
    padding-right: 1rem;
    height: 100%;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3vw;
    height: 100%;
    background-color: var(--secondary-colors);
    border: 1px solid white;

}

.menuButtonsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0.5rem;
    height: 100%;
    gap: var(--spacing);
}

.menuButtonsContainer svg {
    width: 100%;
    color: var(--main-colors);
    margin-bottom: 1.4rem;
    height: 2.1rem;
    cursor: pointer;
    transition: background 0.2s, border 0.2s;
    border-radius: var(--border-radius);
    box-shadow: 0.1px 0.1px 0.1px gray;
}
.menuButtonsContainer svg:hover {
    background-color: var(--buttons-hover);
    border-color: var(--main-color);
}




.floorAndTableContainer {
    background-color: var(--main-bgs);
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 94vh;
  
}

.floorContainer {
    backdrop-filter: blur(20px) saturate(160%);
    background-color: rgba(255, 255, 255, 0.355);
    position: fixed;
    top: 90%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--main-colors);
    border-radius: 16px;
    border: 5px solid rgba(225, 225, 225, 0.18);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.204);
    width: 90%;
    z-index: 999;
    height: 5.5rem;
    
}


.floorContainer .floorContents {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;

}

.floorContents button {
    border-radius: 8px;
    border: 3px solid rgba(red, green, blue, 0.18) ;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.28);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 5rem;
    background-color: transparent ;
    color: var(--main-colors);
    border: none;
    margin: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
}
.floorContainer button:hover {
    background-color: rgba(255, 255, 255, 0.375);

}

.homeTableContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    width: 100%;
    background-color: #e5e5e5;
    margin: 1rem;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: var(--border-radius);
    overflow-y: scroll;
}


.singleTableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8rem;
    max-width: 9rem;
    height: 7.5rem;
    max-height: 8.5rem;
    margin: 1rem;

}
.singleTableContainer .countedBills {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90%;
    background-color: #ff4516;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;

}

.singleTable {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 90%;
    text-align: center;
    text-transform: capitalize;
    color: var(--main-color);
    overflow: hidden;
    border-radius: var(--border-radius);
    background-color: var(--accent-bg);
    transition: background 0.3s, border 0.3s, color 0.2s;
    cursor: pointer;
    border: none;
}

.singleTable:hover {
    border: 1.5px solid var(--main-color);
    background-color: var(--button-hover);
    color: var(--main-color);
}

.available {
    background-color: var(--available-bg);
    color: var(--available-color);
}

.occupied {
    background-color: var(--occupied-bg);
    color: var(--occupied-color);
}

.hasOrders {
    background-color: var(--has-orders-bg);
    color: var(--main-color);
}




/* --------------------------------------------------------------------------- */

.fetchErrorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: larger;
    font-weight: bold;
    gap: 2rem;
    
}












