.pop-up-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
}


.order-item-options-container,
.keyboard-container,
.order-options-container,
.discount-container,
.line-mark-container {
    backdrop-filter: blur(25px);
    border-radius: 17px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.315);
    border: 3px solid rgba(225, 225, 225, 0.30);
    -webkit-backdrop-filter: blur(1px ) saturate(160%);
    color: var(--main-colors);
    background-color: rgba(255, 255, 255, 0.367);

}


.order-options-container,
.discount-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27%;
    height: 75%;
    border-radius: var(--border-radius);
    gap: 1rem;
}



.order-options-header {
    display: flex;
    align-items: center;
    width: 98%;
    height: 7%;
    gap: 2rem;

}

.order-options-header button {
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 90%;
    border: none;
    border-radius: var(--border-radius);
   
}

.discount-header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.401);
    margin: 0.5rem;
    border-radius: var(--border-radius);
    height: 7%;
    gap: 2rem;
}

.discount-header button {
    display: flex;
    align-items: center;
    height: 90%;
    border: none;
    border-radius: var(--border-radius);
   

}

.order-options-body-container,
.discount-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    height: 80%;
}

.order-options-body-container button,
.discount-body button {
    display: flex;
    align-items: center;
    width: 90%;
    border: none;
    height: 4rem;
    gap: 2rem;
    border-bottom: 0.5px solid rgba(204, 203, 203, 0.411);
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: transparent;
    transition: background 0.4s, border 0.2s;
}

.order-options-body-container button:hover,
.discount-body button:hover {
    background-color: var(--buttons-hover);
}



/* Style the order option pop up  */
.order-item-options-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 70%;

  
}

.order-item-options-container .options-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    background-color:transparent;
    height: 5vh;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-transform: capitalize;
}

.order-item-options-container .options-body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    height: fit-content;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.247);
}


.options-body-container button {
    display: flex;
    align-items: center;
    width: 90%;
    background-color: transparent;
    border: none;
    height: 4rem;
    gap: 2rem;
    border-bottom: 0.5px solid rgba(204, 203, 203, 0.411);
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: background 0.4s, border 0.2s;
}

.options-body-container button:hover {
    background-color: rgba(255, 255, 255, 0.39);
}


.manage-quantity-container {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.203);
    width: 98%;
    margin-top: 1rem;
    border-radius: 15px;
    height: fit-content;
    padding: 1rem;
    gap: 1rem;
}

.manage-quantity-container .quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 7rem;
}

.manage-quantity-container .quantity p {
    font-size: large;
    font-weight: bold;
}

.manage-quantity-container .quantity button {
    background-color: transparent;
    height: 3rem;
    width: 3rem;
    border: none;
    color: var(--main-colors);
    cursor: pointer;
}


.manage-quantity-container button:hover {
    background-color: var(--buttons-hover);
}


.order-options-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    background-color: transparent;
    margin-top: 1vh;
    height: 7vh;
    width: 98%;
    
}

.order-options-bottom button {
    width: 49%;
    height: 99%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.4s ease-out;


}

.order-options-bottom button:hover {
    background-color: var(--buttons-hover);


}



/* style the numeric component */
.keyboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 34rem;
    background-color: transparent;
}

.keyboard-container button:hover {
    background-color: var(--buttons-hover);

}

.top-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: black;
    backdrop-filter: blur(2px);
    width: 100%;
    padding: 0.5rem;

}

.top-contents button {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    margin-right: 1rem;
    background-color: transparent;
    font-size: 17px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.top-contents h3 {
    font-size: larger;
    font-weight: bolder;
    width: 40%;
    text-align: center;

}

.number-input-container {
    display: flex;
    align-items: center;
    backdrop-filter: blur(1px);
    background-color:  rgba(253, 253, 253, 0.281);
    border-radius: 5px;
    width: 100%;
}
.number-input-container input  {
    background-color: transparent;
    text-align: center;
    width: 85%; height: 100%;
    padding: 1rem;
    font-size: 20px;
    border: none;
    color: rgb(29, 29, 29);
    font-weight: 800;
   
}

.number-input-container button {
    background-color: transparent;
    border: none;
    width: 15%;
    height: 100%;
    cursor: pointer;
}


.keyboard-contents {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
    height: 100%;
   
}


.number-buttons-container {
    width: 85%;
    height: 100%;
    padding: 20px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


.number-buttons-container button {
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.176);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.266);
    padding: 15px;
    width: 100px;
    height: 100px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    color: black;
    border: none;
}

.save-container {
    height: 30rem;
    width: 15%;
    background-color: transparent;

}

.save-container button {
    height: 100%; width: 100%;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.203);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    color: black;
    border: none;
}



/* line mark container--------------------------------------------------------------------------- */
.line-mark-container {
    display: flex;
    flex-direction: column;
    width: 33rem;
    height: 32rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.315);
    border: 3px solid rgba(225, 225, 225, 0.30);
    border-radius: var(--border-radius);
    color: black;
}

.line-mark-header-container {
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.line-mark-header-container button {
    display: flex;
    align-items: center;
    height: 100%; width: 5rem;
    background-color: inherit;
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius);
}

.line-mark-header-container button:hover {
    background-color: var(--buttons-hover);
}



.inputs-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 91%;
    background-color: transparent;
    padding: 1rem;

}


.inputs-container input {
    width: 100%;
    height: 5.5rem;
    font-size: larger;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: var(--border-radius);
}



/* Condiments Style ----------------------------------------------------------------------------------*/

.condiments-container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(255, 251, 251);
    background-color: transparent;
    border-radius: 5px;
    width: 55rem;
    height: 40rem;
    color: white;

}



.condiments-top-content {
    display: flex;
    flex-direction: row;
    height: max-content;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid rgb(201, 200, 200);
}
    
.condiments-top-content button {
    display: flex;
    width: 7rem;
    height: 100%;
    gap: 1rem;
    align-items: center;
    text-transform: capitalize;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.condiments-top-content button:hover {
    background-color: var(--buttons-hover);
}


.condiments-top-content h1 {
    text-transform: capitalize;

}

.condiments-main-content {
    display: flex;
    flex-direction: row;
    color: white;
    height: 90%;

}

.chosen-condiments-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    border-right: 2px solid rgb(255, 247, 247) ;

}

.chosen-condiments-top {
    display: flex;
    align-items: center;
}

.chosen-condiments-container button {
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: var(--border-radius);
    height: 4rem;
    width: 50%;
    border: none;

}


.delete-button  {
    display: flex;
    background-color: red;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}



.condiments-options-container {
    display: flex;
    flex-direction: row;
    color: white;
    flex-wrap: wrap ;
    height: max-content;
}

.condiments-options-container button {
    width: 7rem; height: 3.5rem;
}



.spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


.loading-spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3;
    border-top: 7px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}